*{
    margin:0;
    padding: 0;
}
body{
    margin:0 auto;
    background:#ff914d;
}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.nav-link{
    font-size: 18px;
    background:white;
    border-radius:10px;
    margin-left:10px;
}
.login-panel {
    position: absolute;
    top: 25%;
    left: 40%;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 400px;
    height: 500px;
    border:1px solid #ff914d;
    border-radius:55px;
    background:#ff914d;
    color: #fff;
    text-align: center;
    transition: opacity .15s ease;
}
.btn-login{
    background:white;
    color:#ff914d;
    border-radius:10px;
    font-size:18px;
    border:1px solid white;
}
.btn-login:hover{
    background:#ff914d;
    color:white;
    border-radius:10px;
    border:1px solid white;
}

.maindashboard{
   margin-top:15%;
}

.b-lable .btn-danger{
    background:white;
    color:#ff914d;
    border:1px solid white;
    padding: 20px 20px;
    margin:5px;
    width: 250px;
    height: 85px;
    font-size:29px;
    border-radius: 20px;
}
.b-lable .btn-danger:hover,
.b-lable .btn-danger:active{
    background:#ff914d;
    color:white !important;
}

